/* GLOBAL */
html, body{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.title{
    text-align: center;
    color: #2C363E;
    padding: 70px 0px;
}
.title h2{
    font-size: 3rem;
} 
.title p{
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 15px 0px;
}
/* Header  */
header .header__info{
    background-color: #363D41;;
}
.header__info .row {
    width: 85%;
    margin: auto;
}
.header__info .header__left i{
    color: white;
    padding: 20px 0px;
    letter-spacing: 20px;
    transition: all 0.5s;
}
.header__info .header__left i:hover{
    color: #7F67F8;
}
.header__info .header__right i{
    color: white;
    padding: 20px 0px;
}
.header__info .header__right a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    padding: 20px 0px;
    transition: all 0.5s;
}
.header__info .header__right a:hover{
    color: #7F67F8;
}
.header__navBar{
    width: 85%;
    margin: auto;
}
.header__navBar .navbar-brand{
    font-size: 2rem;
    color: #868C94;
}
.header__navBar .navbar-brand:hover{
    font-size: 2rem;
    color: #868C94;
}
.header__navBar .navbar-brand span{
    color: #7F67F8;
    font-weight: bold;
}
#navbarNavDropdown .navbar-nav .nav-item .nav-link{
    color: black;
    font-weight: 500;
    padding: 0px 20px;
    transition: all 0.5s;
}
#navbarNavDropdown .navbar-nav .nav-item .nav-link.active{
    color: #7F67F8;
}
#navbarNavDropdown .nav-item:hover .nav-link{
    color: #7F67F8;
}
.dropdown-item:focus, .dropdown-item:hover{
    color: white;
    background-color: #7F67F8;
}
.navbar-toggler:focus{
    box-shadow: unset;
}

/* CAROUSEL  */
.carouselMerged{
    width: 100%;
    height: 750px;
}
#carouselMerged{
    width: 100%;
    height: 100%;
}
.carousel-inner{
    width: 100%;
    height: 100%;
}
.carousel-item{
    width: 100%;
    height: 100%;
}
.carousel-inner .carousel-item{
    background-size: cover;
    background-position: top;
    position: relative;
}

.carousel-caption {
    width: 70%;
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    z-index: 2;
}
.carousel-caption h2{
    font-size: 3.4rem;
    font-weight: 400;
    letter-spacing: 10px;
    padding: 0px 5px;
    margin: 0px;
}
.carousel-caption p{
    margin: 30px 0px;
}
.carousel-caption button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 30px;
    text-transform: capitalize;
    transition: all 0.5s;
}
.carousel-caption button.active, .carousel-caption button:hover{
    background-color: #7F67F8;
    border: 2px solid #7F67F8;
} 
.carousel__overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.carousel-indicators{
    z-index: 3;
}
.carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    opacity: 1;
    z-index: 3;
}
.carousel-indicators .active, .carousel-indicators [data-bs-target]:focus {
    background-color: #7F67F8;
}
.img-fluid{
    height: 100%;
}
/* FEATURE & NUMBER*/
.feature .feature__title, .number .number__title{
    width: 60%;
    margin: 0px auto 40px;
    border-bottom: 1px solid #8d8d8d3a;
    
}
.feature__content, .number__content{
    width: 80%;
    margin: auto;
    text-align: center;
}
.feature__content .feature__border{
    border-left: 1px solid #8d8d8d3a;
    border-right: 1px solid #8d8d8d3a;
}
.feature__content i, .number__detail p:first-of-type, .service__content i{
    color: #F97C69;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.feature__content h3, .number__content h3, .service__content h3{
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.feature__content p, .number__detail p:last-of-type, .service__content p{
    letter-spacing: 1px;
    color: #8D8D8D;
}
/* CONTACT */
.contact{
    width: 100%;
    height: 280px;
    margin-top: 70px;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: top;
}
.contact__content {
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
}
.contact__content h3{
    font-size: 2.5rem;
    color: white;
    letter-spacing: 3px;
    text-align: center;
}
.contact__content button{
    color: white;
    background-color: #7F67F8;
    padding: 10px 40px;
    border: none;
    letter-spacing: 1px;
    transform: translateY(-50%);
    transition: all 0.5s;
}
.contact__content button:hover{
    color: #7F67F8;
    background-color: white;
    font-weight: bold;
}
/* NUMBER  */
.number .number__title{
    border: none;
    margin: 0px auto;
}
.number__detail p:first-of-type{
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 2px;
}

/* SERVICE  */
.service{
    width: 100%;
    height: 900px;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: center;
}
.service__title{
    color: white;
}
.service__content{
    width: 80%;
    height: 60%;
    margin: auto;
    text-align: center;
}
.service__content .row{
    width: 100%;
    height: 50%;
}
.service__detail{
    padding: 30px;
}
.service__content .service__odd{
    background-color: #F97C69;
    color: white;
    padding: 0px;
}
.service__content .service__odd i, .service__content .service__odd p {
    color: white;
}
.service__content .service__even{
    color: #363D41;
    background-color: white;
    padding: 0px;
}
.service__even p{
    color: #363D41;
}
.service__content .service__detail i{
    font-size: 3rem;
}

.service__content .service__detail h3{
    font-weight: bold;
    padding-bottom: 15px;
}
.service__content .service__detail p{
    margin: 0px;
}

/* FEEDBACK */
.feedback{
    margin-bottom: 75px;
}
.feedback__content{
    width: 80%;
    margin: auto;
}
.feedback__content .item{
    margin: 30px 10px;
    justify-content: center;
    text-align: center;

}
.owl-carousel .owl-item img{
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #7F67F8;
    margin: 15px 0px;
}
.feedback__content h3{
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.feedback__content p{
    font-size: 0.8rem;
    color: #868C94;
    letter-spacing: 1px;
}
.owl-dots{
    text-align: center;
}
.owl-carousel button.owl-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#F97C69;
    opacity: 0.5;
    margin: 0px 5px;
}

.owl-dots button.active{
    opacity: 1;
}
/* FOOTER  */
.footer__content{
    background-color: #0B0C11;
}
.footer__info {
    width: 80%;
    margin: auto;
    padding: 70px 0px;
}
.g-4, .gx-4{
    --bs-gutter-x: 3.5rem;
}
.pe-4{
    padding-right: 3.5rem !important;
}
.footer__detail1{
    padding-right: 60px;
}
.footer__info h3{
    color: #F97C69;
    margin-bottom: 40px;
}
.footer__info p{
    color: #8D8D8D;
}
.input-group .form-control{
    border-radius: 0;
}
.input-group .input-group-text{
   border-radius: 0;
}
.input-group{
    border: 1px solid white;
    margin-top: 50px;
}
.input-group input{
    padding: 15px 5px;
    background-color: transparent;
}
.form-control{
    border: unset;
}
.input-group button{
    width: 100%;
    height: 100%;
}
.input-group-text{
    padding: 0.375rem 1.25rem;
    font-size: 1.25rem;
    background-color: #7F67F8;
    color: white;
    border: unset;
}
.footer__detail2 ul{
    padding: 0px;
}
.footer__detail2 li{
    list-style: none;
    margin: 15px 0px;
}
.footer__detail2 a{
    text-decoration: none;
    color: white;
    
}
.footer__detail3 i{
    color: #F97C69;
    margin: 15px 15px 15px 0;
}
.footer__copyright{
    background-color: #252525;
    color: white;
    text-align: center;
    padding: 15px 0px;
}
.footer__copyright p{
    margin: 0px;
}
.footer__copyright span{
    text-decoration: underline;
}
/* Back to top  */
.BackToTop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }

  /* RESPONSIVE  */
  @media screen and (max-width:991.98px){
      .contact__content button{
        padding: 10px 25px;
        transform: translateY(0%);
      }
      
  }
  @media screen and (max-width:767.98px){
    .carousel-inner .carousel-item button{
        padding: 10px 20px;
    }
    .carousel-caption h2{
        font-size: 2.8rem;
    }
    .feature__content .feature__border{
        border-left: unset;
        border-right: unset;
        border-top: 1px solid #8d8d8d3a;
        border-bottom: 1px solid #8d8d8d3a;
    }
    .feature .feature__title{
        margin-bottom: 0px;
    }
    .feature__content i{
        padding-top: 40px;
    }
    .title h2{
        font-size: 2.8rem;
    }
    .feature__content i, .number__detail p:first-of-type, .service__content i{
        font-size: 2.8rem;
    }
    .feature__content h3, .number__content h3, .service__content h3{
        font-size: 1.2rem;
    }
    

}


